@import 'vars';
@import 'typography';
@import 'mixins';

@import '../components/app/styles/app.component';

body{
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*{
	box-sizing: border-box;
}
